<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="camera_sensor" params="parent camera_name *origin">
    
    <link name="${camera_name}_link">
      <visual>
        <geometry>
          <box size="0.05 0.05 0.03"/>
        </geometry>
        <material name="camera_black">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.05 0.03"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      </inertial>
    </link>
    
    <joint name="${camera_name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${camera_name}_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
    
    <link name="${camera_name}_optical_frame"/>
    
    <joint name="${camera_name}_optical_joint" type="fixed">
      <parent link="${camera_name}_link"/>
      <child link="${camera_name}_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.5707 0 -1.5707"/>
    </joint>
    
    <gazebo reference="${camera_name}_link">
      <material>Gazebo/Black</material>
      <sensor type="camera" name="${camera_name}">
        <update_rate>30.0</update_rate>
        <camera name="${camera_name}_camera">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <ros>
            <remapping>~/image_raw:=/${camera_name}/image_raw</remapping>
            <remapping>~/camera_info:=/${camera_name}/camera_info</remapping>
          </ros>
          <camera_name>${camera_name}</camera_name>
          <frame_name>${camera_name}_optical_frame</frame_name>
        </plugin>
      </sensor>
    </gazebo>
    
  </xacro:macro>
  
</robot>
